<html>
        <head>
                <title>SportsBallClassifier</title>
                <meta charset="UTF-8">
        </head>
        <body>
                <div align="center">
                <H2> Sports Ball Classifier </H2>
                <img src="/static/temp.jpeg" height="300" width="500" alt="sports_image"><br><br>
                <form method="post" enctype="multipart/form-data" align="center">
                <input type=file name=file><i>Golf, Soccer, BasketBall Only </i><br><br>
                <input type=submit value=Upload>
                <p>Result for your image :&#128512; &#128512;:{{data}} </p>
                </div>
        </body>
</html>
